<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="32768" />
            </requestFiltering>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="zhan0022" />
                <add accessType="Allow" users="tlim0016" />
                <add accessType="Allow" users="fbarker" />
                <add accessType="Allow" users="bdav0006" />
                <add accessType="Allow" users="flyn0002" />
                <add accessType="Allow" users="rebekah" />
                <add accessType="Allow" users="lnbat2" />
                <add accessType="Allow" users="dmacca" />
                <add accessType="Allow" users="tjat0001" />
                <add accessType="Allow" users="gfle0001" />
                <add accessType="Allow" users="ydelgado" />
                <add accessType="Allow" users="ahat0014" />
                <add accessType="Allow" users="kburge" />
                <add accessType="Allow" users="alin0030" />
                <add accessType="Allow" users="ktse0003" />
                <add accessType="Allow" users="siem0001" />
                <add accessType="Allow" users="jjoh0001" />
                <add accessType="Allow" users="mnat0008" />		
                <add accessType="Allow" users="jfil0007" />						
                <add accessType="Allow" users="lbar0039" />						
                <add accessType="Allow" users="ariz0018" />	
				<add accessType="Allow" users="aagu0013" />		
				<add accessType="Allow" users="wrak0001" />		
			</authorization>
        </security>
    </system.webServer>
</configuration>
